<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">알콩달콩 꿈이네</title>

	<!-- Required Meta Tags Always Come First -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="unify/vendor/bootstrap/bootstrap.min.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="unify/vendor/icon-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="unify/vendor/icon-line/css/simple-line-icons.css">
	<link rel="stylesheet" href="unify/vendor/icon-line-pro/style.css">
	<link rel="stylesheet" href="unify/vendor/icon-hs/style.css">
	<link rel="stylesheet" href="unify/vendor/hamburgers/hamburgers.min.css">
	<link rel="stylesheet" href="unify/vendor/hs-megamenu/src/hs.megamenu.css">
	<link rel="stylesheet" href="unify/vendor/animate.css">

	<!-- CSS Unify -->
	<link rel="stylesheet" href="unify/css/unify.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="unify/css/custom.css">

	<th:block layout:fragment="css">
	</th:block>
</head>

<body class="u-body--header-side-static-left">
	<!-- Sidebar Navigation -->
	<div th:replace="layout/sidebar :: sidebar">
		Sidebar
	</div>
	<!-- End Sidebar Navigation -->

	<!-- <main>  -->

	<!-- Contents -->
	<div layout:fragment="content">
		Content
	</div>
	<!-- End Contents -->

	<!-- Footer -->
	<footer th:replace="layout/footer :: footer">
		Footer
	</footer>
	<!-- End Footer -->

	<!-- </main> -->

	<!-- JS Global Compulsory -->
	<script src="unify/vendor/jquery/jquery.min.js"></script>
	<script src="unify/vendor/jquery-migrate/jquery-migrate.min.js"></script>
	<script src="unify/vendor/tether.min.js"></script>
	<script src="unify/vendor/bootstrap/bootstrap.min.js"></script>

	<!-- JS Implementing Plugins -->
	<script src="unify/vendor/hs-megamenu/src/hs.megamenu.js"></script>

	<!-- JS Unify -->
	<script src="unify/js/hs.core.js"></script>
	<script src="unify/js/components/hs.header-side.js"></script>
	<script src="unify/js/components/hs.dropdown.js"></script>
	<script src="unify/js/helpers/hs.hamburgers.js"></script>
	<script src="unify/js/components/hs.popup.js"></script>

	<!-- JS Custom -->
	<script src="unify/js/custom.js"></script>

	<!-- JS Plugins Init. -->
	<script>
		$(window).on('load', function() {
			// initialization of header
			$.HSCore.components.HSHeaderSide.init($('#js-header'));
			$.HSCore.helpers.HSHamburgers.init('.hamburger');

			// initialization of HSMegaMenu component
			$('.js-mega-menu').HSMegaMenu({
				event : 'hover',
				direction : 'vertical',
				breakpoint : 991
			});
		});
	</script>

	<th:block layout:fragment="script">
	</th:block>

</body>
</html>
