<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <![endif]-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">주원이네</title>

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link rel="shortcut icon" th:href="@{/favicon.ico}">

    <!--Begin Base CSS Style-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/color_material/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css}" rel="stylesheet" />
    <link th:href="@{/color_material/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/color_material/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/color_material/css/animate.min.css}" rel="stylesheet" />
    <link th:href="@{/color_material/css/style.min.css}" rel="stylesheet" />
    <link th:href="@{/color_material/css/style-responsive.min.css}" rel="stylesheet" />
    <link th:href="@{/color_material/css/theme/default.css}" rel="stylesheet" id="theme" />
    <!--End Base CSS Style-->

    <!--Begin Base JS-->
    <script th:src="@{/color_material/plugins/pace/pace.min.js}"></script>
    <!--End Base JS-->

    <!--Begin Additional CSS and JS-->
    <th:block layout:fragment="css">

    </th:block>
    <!--End Additional CSS and JS-->
</head>

<body>

<!-- begin #page-loader -->
<div id="page-loader">
    <div class="material-loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
        <div class="message">Loading...</div>
    </div>
</div>
<!-- end #page-loader -->

<div id="page-container" class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar">
    <!--Start Header-->
    <div th:replace="layout/header::header">

    </div>
    <!--End Header-->

    <!-- Start Sidebar -->
    <div th:replace="layout/sidebar :: sidebar">
        Sidebar
    </div>
    <!-- End Sidebar -->


    <!-- <main>  -->
    <div id="content" class="content">
        <!--Breadcrumb-->
        <ol layout:fragment="breadcrumb">
            Breadcrumb
        </ol>
        <!--End Breadcrumb-->

        <!--Header-->
        <h1 layout:fragment="header">
            Header
        </h1>
        <!--End Header-->

        <!-- Contents -->
        <div layout:fragment="content">
            Content
        </div>
        <!-- End Contents -->
    </div>

    <!-- Footer -->
    <!--<footer th:replace="layout/footer :: footer">-->
        <!--Footer-->
    <!--</footer>-->
    <!-- End Footer -->
    <!-- </main> -->



</div>

<!--Begin Base JS-->
<script th:src="@{/color_material/plugins/jquery/jquery-1.9.1.min.js}"></script>
<script th:src="@{/color_material/plugins/jquery/jquery-migrate-1.1.0.min.js}"></script>
<script th:src="@{/color_material/plugins/jquery-ui/ui/minified/jquery-ui.min.js}"></script>
<script th:src="@{/color_material/plugins/bootstrap/js/bootstrap.min.js}"></script>
<!--[if lt IE 9]>
<script th:src="@{/color_material/crossbrowserjs/html5shiv.js}"></script>
<script th:src="@{/color_material/crossbrowserjs/respond.min.js}"></script>
<script th:src="@{/color_material/crossbrowserjs/excanvas.min.js}"></script>
<![endif]-->
<script th:src="@{/color_material/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/color_material/plugins/jquery-cookie/jquery.cookie.js}"></script>
<!--End Base JS-->

<!--Begin Page Level JS-->
<script th:src="@{/color_material/js/apps.min.js}"></script>
<!--End Page Level JS-->

<script>
    $(document).ready(function() {
        App.init();
    });
</script>

<!--Begin Additional JS in Body-->
<th:block layout:fragment="script">
</th:block>
<!--End Additional JS in Body-->
</body>
</html>