<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>

<body>
	<!-- Sidebar Navigation -->
	<div th:fragment="sidebar" id="js-header" class="u-header u-header--side" data-header-position="left" data-header-breakpoint="lg">
		<div class="u-header__sections-container g-bg-white g-brd-right--lg g-brd-gray-light-v5 g-py-10 g-py-10--lg g-px-14--lg">
			<div class="u-header__section u-header__section--light">
				<nav class="navbar navbar-toggleable-md">
					<div class="js-mega-menu container">

						<!-- Responsive Toggle Button -->
						<button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0"
							type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
							<span class="hamburger hamburger--slider">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</span>
						</button>
						<!-- End Responsive Toggle Button -->

						<!--User Info-->
						<div class="row" style="margin-right: 20px;">
							<!-- Figure -->
							<figure class="u-block-hover g-bg-white g-rounded-4 g-pa-10">
								<div class="d-flex justify-content-start">
									<!-- Figure Image -->
									<img class="g-width-60 g-height-60 rounded-circle g-mr-15" th:src="@{/custom/img/user.png}" alt="User Image">
									<!-- Figure Image -->

									<!-- Figure Info -->
									<div class="d-block">
										<div class="g-mb-5">
											<h4 class="h5 g-mb-0" sec:authentication="name">정현수</h4>
											<em class="d-block g-color-primary g-font-style-normal g-font-size-default" sec:authentication="principal.authorities">Admin</em>
										</div>
										<em class="d-block g-color-gray-dark-v5 g-font-style-normal g-font-size-13 g-mb-2" sec:authentication="name">admin@ggum2.net</em>
									</div>
									<!-- End Figure Info -->

									<!-- Figure Caption -->
									<figcaption class="u-block-hover__additional--fade g-bg-white-opacity-0_9 g-pa-10">
										<div class="u-block-hover__additional--fade u-block-hover__additional--fade-down g-flex-middle">
											<!-- Figure Social Icons -->
											<ul class="list-inline text-center g-flex-middle-item">
												<li class="list-inline-item align-middle g-mx-7">
													<a class="u-icon-v1 u-icon-size--md g-color-gray-dark-v5 g-color-primary--hover" href="#">
														<i class="icon-user"></i>
													</a>
												</li>
												<li class="list-inline-item align-middle g-mx-7">
													<a class="u-icon-v1 u-icon-size--md g-color-gray-dark-v5 g-color-primary--hover" href="#">
														<i class="icon-settings"></i>
													</a>
												</li>
												<li class="list-inline-item align-middle g-mx-7">
													<form th:action="@{/logout}" action="/logout" method="post">
														<a class="u-icon-v1 u-icon-size--md g-color-gray-dark-v5 g-color-primary--hover" href="#" onclick="this.parentNode.submit()">
															<i class="icon-logout"></i>
														</a>
													</form>
												</li>
											</ul>
											<!-- End Figure Social Icons -->
										</div>
									</figcaption>
									<!-- End Figure Caption -->
								</div>
							</figure>
							<!-- End Figure -->
						</div>
						<!-- End User Info -->


						<!-- Navigation -->
						<div class="collapse navbar-collapse align-items-center flex-sm-row g-mt-20 g-mt-0--lg g-mb-40" id="navBar">
							<ul class="navbar-nav ml-auto text-uppercase g-font-weight-600 u-sub-menu-v1">

								<!--Home-->
								<li class="nav-item active g-my-5">
									<a href="/" class="nav-link" id="home" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-1">
										Home<span class="sr-only">(current)</span>
									</a>
								</li>
								<!--End Home-->

								<li class="nav-item g-my-5">
									<a href="#" class="nav-link">Blog</a>
								</li>

								<li class="nav-item hs-has-mega-menu g-my-5"><a href="#"
									class="nav-link" id="nav-link-408" aria-haspopup="true"
									aria-expanded="false" aria-controls="nav-megamenu-408">Shortcodes
										<i class="hs-icon hs-icon-arrow-bottom g-font-size-10 g-ml-7"></i>
								</a> <!-- Mega Menu -->
									<div class="hs-mega-menu g-font-size-13" id="nav-megamenu-408"
										aria-labelledby="nav-link-408">
										<div class="h-100 row align-items-stretch">
											<div class="col-lg-3 g-brd-right g-brd-gray-light-v4">
												<ul class="list-unstyled h-100 g-py-10">
													<li><a href="#"
														class="d-block g-color-gray-dark-v4 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20">Option
															1</a></li>

													<li><a href="#"
														class="d-block g-color-gray-dark-v4 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20">Option
															2</a></li>

													<li class="nav-item hs-has-sub-menu"><a href="#"
														class="d-block g-color-gray-dark-v4 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20">Option
															3</a> <!-- Submenu (level 2) -->
														<ul class="list-unstyled hs-sub-menu">
															<li><a href="#"
																class="d-block g-color-gray-dark-v4 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20">–
																	Sub Option 2.1</a></li>
															<li><a href="#"
																class="d-block g-color-gray-dark-v4 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20">–
																	Sub Option 2.2</a></li>
															<li><a href="#"
																class="d-block g-color-gray-dark-v4 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20">–
																	Sub Option 2.3</a></li>
														</ul> <!-- End Submenu --></li>
												</ul>
											</div>

											<div class="col-lg-3">
												<ul class="list-unstyled h-100 g-py-10">
													<li><a href="#"
														class="d-block g-color-gray-dark-v4 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20">Option
															4</a></li>
													<li><a href="#"
														class="d-block g-color-gray-dark-v4 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20">Option
															5</a></li>
													<li><a href="#"
														class="d-block g-color-gray-dark-v4 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20">Option
															6</a></li>
												</ul>
											</div>

											<div class="col-lg-6">
												<div id="gMap4" class="js-g-map h-100" data-type="custom"
													data-lat="40.674" data-lng="-73.946" data-zoom="12"
													data-title="Travel"
													data-styles='[
                                 ["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]],
                                 ["", "labels", [{"visibility":"on"}]],
                                 ["water", "", [{"color":"#bac6cb"}]]
                               ]'
													data-pin="true"
													data-pin-icon="unify/img/icons/pin/green.png"></div>
											</div>
										</div>
									</div> <!-- End Mega Menu --></li>
								<li class="nav-item g-my-5"><a href="#" class="nav-link">Pages</a>
								</li>
								<li class="nav-item g-my-5"><a href="#" class="nav-link">What's
										New</a></li>
								<li class="nav-item g-my-5"><a href="#" class="nav-link">Features</a>
								</li>
								<li class="nav-item g-my-5"><a href="#" class="nav-link">Demos</a>
								</li>
							</ul>
						</div>
						<!-- End Navigation -->

						<div class="text-center hidden-lg-down">
							<ul class="list-inline g-mb-10">
								<li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
									<a href="#" class="g-color-main g-color-primary--hover">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="GitHub">
									<a href="#" class="g-color-main g-color-primary--hover">
										<i class="fa fa-github"></i>
									</a>
								</li>
								<li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Trello">
									<a href="#" class="g-color-main g-color-primary--hover">
										<i class="fa fa-trello"></i>
									</a>
								</li>
							</ul>

							<p class="mb-0">2017 &copy; All Rights Reserved.</p>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<!-- End Sidebar Navigation -->
</body>
</html>
