<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>

<body>
<!-- Sidebar Navigation -->
<div th:fragment="sidebar">
    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">

            <!-- begin sidebar user -->
            <ul class="nav">
                <li class="nav-profile">
                    <a href="#" data-toggle="nav-profile">
                        <div class="image">
                            <img th:src="@{/custom/img/user.png}" alt="" />
                        </div>
                        <div class="info">
                            <b class="caret pull-right"></b>
                            <th:block sec:authentication="principal.nickname">Nickname</th:block>
                            <small>
                                <th:block sec:authentication="principal.username">Username</th:block>
                            </small>
                        </div>
                    </a>
                </li>
                <li>
                    <ul class="nav nav-profile">
                        <li><a href="#"><i class="material-icons">settings</i> Profile</a></li>
                        <li><a href="#"><i class="material-icons">mode_edit</i> Settings</a></li>
                        <li><a href="#"><i class="material-icons">help</i> Logout</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end sidebar user -->

            <!-- begin sidebar nav -->
            <ul class="nav">
                <li class="nav-header">Applications</li>
                <li class="has-sub">
                    <a th:href="@{/}">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="material-icons">inbox</i>
                        <span>Picture</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="#">Story</a></li>
                        <li><a href="#">Galary</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="material-icons">toys</i>
                        <span>Daily <span class="label label-theme m-l-5">NEW</span></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="#">General</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="material-icons">insert_drive_file</i>
                        <span>TO-DO List<span class="label label-theme m-l-5">NEW</span></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="form_elements.html">Form Elements <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <i class="material-icons">grid_on</i>
                        <span>Tech Blog</span>
                    </a>
                </li>
                <!-- begin sidebar minify button -->
                <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                <!-- end sidebar minify button -->
            </ul>
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->
</body>
</html>