<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="layout/layout">
<head>
	<title>Base</title>
</head>

<body>
	<div layout:fragment="content">

		<div class="shortcode-html">
			<section class="g-color-white g-bg-gray-dark-v1 g-py-50" style="background-image: url(../../assets/img/bg/pattern3.png);">
				<div class="container">
					<div class="d-sm-flex text-center">
						<div class="align-self-center">
							<h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">사진 업로드</h2>
						</div>

						<div class="align-self-center ml-auto">
							<ul class="u-list-inline">
								<li class="list-inline-item g-mr-5">
									<a class="u-link-v5 g-color-white g-color-primary--hover" href="#">Home</a>
									<i class="g-color-gray-light-v2 g-ml-5">/</i>
								</li>
								<li class="list-inline-item g-mr-5">
									<a class="u-link-v5 g-color-white g-color-primary--hover" href="#">Pages</a>
									<i class="g-color-gray-light-v2 g-ml-5">/</i>
								</li>
								<li class="list-inline-item g-color-primary">
									<span>About Us</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>


		upload
	</div>
	
	<th:block layout:fragment="script">
		
	</th:block>
</body>
</html>